<h1>新しくつぶやく</h1>
<% if @tweet.errors.present? %>
  <h3>エラーがあります。</h3>
    <h4><ul>
      <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    
  <% end %>
    </ul>
    </h4>
<% end %>

<%= render partial: 'form', locals: { tweet: @tweet } %>