/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
	background: url(https://i.pinimg.com/originals/90/ca/e0/90cae0cf9b6cded6456a336101de9fd8.jpg) center / cover;
    height: 200px;
}

body{
  width: 1000px;
  margin: 0 auto;
  background-color: #C0C0C0 
}

#main{
  width: 200px;
  float: left;
  
  margin-bottom: 5px;
  margin-right: 5px;
  height: 100px;
}

#side{
  width: 790px;
  float: right;
  border: 2px solid #000000;
  height: 100px;
  background-color: white;
}

#ash {
    color: #808080
}
